/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.content, .text-input {
	-fx-background-color: radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 50.0% 50.0%, radius 100.0%, rgb(230,230,230) 0.0, rgb(230,230,230) 30.0, rgb(77,77,77) 100.0 )	
}
.warn {
	-fx-background-color: radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 50.0% 50.0%, radius 100.0%, rgb(155,139,139) 0.0, rgb(178,115,115) 30.0, rgb(95,70,70) 100.0 )
}
.pass{
	-fx-background-color: radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 50.0% 50.0%, radius 100.0%, repeat, rgb(171,220,189) 0.0, rgb(60,173,92) 30.0, rgb(45,73,42) 100.0 )
}
.button, .check-box{
	-fx-text-fill: #FFFFFF;
}
.button{
	-fx-background-color: radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 50.0% 50.0%, radius 100.0%, rgb(102,128,230) 0.0, rgb(26,51,153) 100.0 );
}

.root {
	-fx-background-color: radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 50.0% 50.0%, radius 100.0%, rgb(242,242,242) 0.0, rgb(179,179,179) 100.0 )radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 50.0% 50.0%, radius 100.0%, reflect, rgb(204,204,204) 0.0, rgb(0,0,0) 100.0 )
}
