/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{ 
-fx-base: #ececec;
 -fx-background: derive(-fx-base, 26.4%);
-fx-background-color: derive(-fx-base, 26.4%);
}
.viewport{
		-fx-background: derive(-fx-base, 26.4%);
-fx-background-color: derive(-fx-base, 26.4%);
} 
.vbox{
	-fx-background: derive(-fx-base, 26.4%);
-fx-background-color: derive(-fx-base, 26.4%);
}
.content, .text-input {
	-fx-background-color: radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 50.0% 50.0%, radius 100.0%, rgb(230.0,230.0,230.0) 0.0, rgb(230.0,230.0,230.0) 30.0, rgb(77.0,77.0,77.0) 100.0 )	
}
.warn {
	-fx-background-color: radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 50.0% 50.0%, radius 100.0%, rgb(155.0,139.0,139.0) 0.0, rgb(178.0,115.0,115.0) 30.0, rgb(95.0,70.0,70.0) 100.0 )
}
.pass{
	-fx-background-color: radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 50.0% 50.0%, radius 100.0%, repeat, rgb(171.0,220.0,189.0) 0.0, rgb(60.0,173.0,92.0) 30.0, rgb(45.0,73.0,42.0) 100.0 )
}
.button, .check-box{
	-fx-text-fill: #FFFFFF;
}
.button{
	-fx-background-color: radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 50.0% 50.0%, radius 100.0%, rgb(102.0,128.0,230.0) 0.0, rgb(26.0,51.0,153.0) 100.0 );
}

.root {
	-fx-background-color: radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 50.0% 50.0%, radius 100.0%, rgb(242.0,242.0,242.0) 0.0, rgb(179.0,179.0,179.0) 100.0 )radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 50.0% 50.0%, radius 100.0%, reflect, rgb(204.0,204.0,204.0) 0.0, rgb(0.0,0.0,0.0) 100.0 )
}
